@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


body {
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #2C2C2C;
    color: white;
    user-select: none;
    position: relative;
    font-family: "Quicksand", sans-serif;
}

.main {
    display: flex;
    gap: 200px;
}

.left h3 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
}

.joe{
    width: 300px;
}

.joe-image:hover {
    opacity: 0.9;
    cursor: pointer;
}

.joe-image:active {
    opacity: 0.8;
    transform:scale(1.02)
}

.upgrade-img {
    width: 50px;
}

.joe-img-container {
    position: relative;
}

.joe-img {
    width: 30px;
}

.upgrade {
    display: flex;
    align-items: center;
    width: 330px;
    height: 60px;
    border: 4px solid white;
    justify-content: space-between;
    padding: 10px 20px;
    border-radius: 10px;
    position: relative;
    margin-bottom: 20px;
}

.cost-info {
    display: flex;
    align-items: center;
    gap: 5px;
}

.mid-section h4{
    margin: 0;
    margin-bottom: 10px;
    font-size: 20px;
}

.mid-section p {
    margin: 0;
}

.next-level-info {
    position: absolute;
    right: -105px;
    background-color: rgb(90,89,90);
    height: 80px;
    width: 100px;
    text-align: center;
    display: none;
}

.upgrade:hover .next-level-info {
    display: block;
}

.stats {
    position: absolute;
    bottom: 0;
    width: 450px;
    padding: 30px;
    border: 2px white solid;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    left: 50%;
    transform: translate(-50%)
}

.text {
    display: flex;
    gap: 100px;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
}

/* (Im not sure whats going on with this ill fix it at some point )
    .util-buttons {
    position: absolute;
    top: 15px;
    right: 15px;
}
*/

.util-buttons {
    padding: 8px 13px;
    font-size: 16px;
    font-weight: 600;
    font-family: inherit;
    border-radius: 6px;
}

.util-button:hover {
    opacity: 0.7;
    cursor: pointer;
}

.fade-up {
    animation: fade-up 1s;
}


@keyframes fade-up {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    20% {
        transform: translateY(-5px);
        opacity: 0.8;
    }
    40% {
        transform: translateY(-13px);
        opacity: 0.75;
    }
    60% {
        transform: translateY(-25px);
        opacity: 0.55;
    }
    80% {
        transform: translateY(-42px);
        opacity: 0.3;
    }
    100% {
        transform: translateY(-65px);
        opacity: 0;
    }
}